    <div class="container">
      <p class="text-center mb-0">Copyright &copy; 2023
        <a href="/">online-shop</a>
      </p>
    </div>

</body>
<script src="/js/bootstrap.min.js"></script>
</html>